<div class="container">
    <form [formGroup]="formCar" (ngSubmit)="saveNewCar()">
        <div class="mb-3">
            <label class="form-label">Model</label>
            <input type="text" class="form-control" formControlName="model">
            <div class="form-text text-danger" *ngIf="isFormControlInvalid('model')">Model must be filled</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Car year</label>
            <input type="number" class="form-control" formControlName="carYear">
            <div class="form-text text-danger" *ngIf="isFormControlInvalid('carYear')">Car Year must be filled</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Color</label>
            <input type="text" class="form-control" formControlName="color">
            <div class="form-text text-danger" *ngIf="isFormControlInvalid('color')">Color must be filled</div>
          </div>
          
          <div class="mb-3">
            <label class="form-label">LicensePlate</label>
            <input type="text" class="form-control" formControlName="licensePlate">
            <div class="form-text text-danger" *ngIf="isFormControlInvalid('licensePlate')">License plate must be filled</div>
          </div>
          
          <div class="mb-3">
            <label class="form-label">User</label>
            <select class="form-select" formControlName="user">
              <option *ngFor="let user of users" [value]="user.id">{{ user.firstName }} {{ user.lastName }}</option>
            </select>
            <div class="form-text text-danger" *ngIf="isFormControlInvalid('user')">UserId must be selected</div>
            
          </div>

          <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" [disabled]="!formCar.valid" data-bs-dismiss="modal">Save</button>
          </div>
    </form>
</div>
