node_modules
node_modules
# Dependency directories
/node_modules
/dist

# Environment variables
/.env

# IDE files
/.idea
/.vscode



# Logs
*.log

# Temporary files
*.tmp

# User-specific files
.DS_Store
